<!-- @author: voe -->

<table class="table table-striped table-condensed student-table">
	<thead>
		<tr>
			<th>last name</th>
			<th>first name</th>
			<th>identifier</th>
			<th>email</th>
		</tr>
	</thead>
	<tbody>
		<% for student in @classroom.students %>
			<tr>
				<td><%= student.user.last_name %></td>
				<td><%= student.user.first_name %></td>
				<td><%= student.user.identifier %></td>
				<td><%= student.user.email %></td>
			</tr>
		<% end %>
	</tbody>
</table>