
<div class="container-fluid background">
	<%= render "layouts/side_admin_menu" %>
	<div class="col-sm-8 menu-center">
		<% if @type === "Classrooms" %>
			<form>
			  <div>
	            Teacher: <input id="teacher" name="teacher" type="text"><br>
	          </div>
	          <div>
	            Students: <input id="students" name="students" type="text"><br>
	          </div>
	          <div>
	            Course: <input id="course" name="course" type="text"><br>
	          </div>
	          <div>
	            Time: <input id="time" name="time" type="text"><br>
	          </div>
	          <div>
	            Location: <input id="location" name="location" type="text"><br>
	          </div>
	          <div>
	            Capacity: <input id="capacity" name="capacity" type="text"><br>
	          </div>
	          <div>
	            <input type="submit" value="Create new classroom">
	          </div>
			</form>
		<% elsif @type === "Teachers" %>
			<form>
			  <div>
                First name: <input name="firstname" type="text"><br>
	          </div>
	          <div>
	            Middle name: <input name="middlename" type="text"><br>
	          </div>
	          <div>
	            Last name: <input name="lastname" type="text"><br>
	          </div>
	          <div>
	            Teacher ID: <input name="studentid" type="text"><br>
	          </div>
	          <div>
	            <input type="submit" value="Create new teacher">
	          </div>
			</form>
		<% elsif @type === "Students" %>
			<form>
			  <div>
	            First name: <input name="firstname" type="text"><br>
	          </div>
	          <div>
	            Middle name: <input name="middlename" type="text"><br>
	          </div>
	          <div>
	            Last name: <input name="lastname" type="text"><br>
	          </div>
	          <div>
	            Student ID: <input name="studentid" type="text"><br>
	          </div>
	          <div>
	            <input type="submit" value="Create new student">
	          </div>
			</form>
		<% end %>
	</div>
</div>

