<div class="btn-group-vertical">
	<button type="button" class="btn btn-default">Classrooms</button>
	<button type="button" class="btn btn-default">Teachers</button>
	<button type="button" class="btn btn-default">Students</button>
	<button type="button" class="btn btn-default">CourseInfo</button>
</div>
