<!-- @author voe -->
<!-- the main dashboard for students and teachers -->

<div class="container-fluid background">
  	
    <%= render "layouts/side_menu" %>

    <%= render "dashboard/partials/calendar_feed" %>

    <%= render "dashboard/partials/day_info_feed" %>

</div>