
<!-- @author voe -->

<div class="container-fluid background">
  	
    <div class="col-sm-2 menu_left">
	    <div class="profile_display">
	    	<div class="profile-panel">
				<a href="#user/show" class="thumbnail">
			      <img src="http://simpleicon.com/wp-content/uploads/user1-150x150.png">
			    </a>
		    </div>
	    </div>

	    <div class="classlist">
	    	<hr>

	    	<div class="row classlist_item active">
	    		<h3>dashboard</h3>
	    	</div>
	    	
	    	<hr>

	    	<% @classrooms.each do |t, a| %>

				<%= link_to t do %>
					<div class="row classlist_item">
						<h3><%= t.name %></h3>
					</div>
				<% end %>
				<hr>

	    	<%end%>
		</div>

	</div>
</div>