<div id="day-info-feed-panel" class="col-sm-3">
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<%= d = Time.zone.now.to_date %>
	    <h3 class="panel-title"><%= d.strftime("%b") %></h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
</div>