<!-- @author Michael Chuang -->

<span class="pull-right">
  <button class="btn btn-sm" onclick="toggleModal('newTeacher')">
    Create new class
  </button>
</span>
<div class="modal" id="newTeacher">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title center">Create new teacher</h2>
      </div>
      <div class="modal-body">
        <h4 class="center">"Create new teacher"</h4>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div>
            First name: <input name="firstname" type="text"><br>
          </div>
          <div>
            Middle name: <input name="middlename" type="text"><br>
          </div>
          <div>
            Last name: <input name="lastname" type="text"><br>
          </div>
          <div>
            Teacher ID: <input name="teacherid" type="text"><br>
          </div>
          <div>
            <input type="submit" value="Create new teacher">
          </div>
          
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="toggleModal('newTeacher')">Close</button>
      </div>
    </div>
  </div>
</div>