<!-- @author: dlaroue -->

<%= form_tag "/users/update_phone", :id => "edit-phone-form" do -%>
  <div class="edit-input-fields">
    <span class="spacing"><div class="col-sm-3">New Phone:</div> <%= text_field_tag 'user[phone_mobile]', nil %></span>
  </div>

  <hr class="spacing">

  <%= submit_tag "Save Changes", :class => 'btn-primary btn', :id => 'save-cancel-phone' %>
<% end -%>