<div class="background">

	<div class="profile-panel">
		<a href="#" class="thumbnail">
	      <img src="">
	    </a>
    </div>

	<div>
		<!-- Trying to get glyphs working -->
		<span class="glyphicon glyphicon-usd">
	</div>

	<div>
	</div>

	<div>
	</div>

	<div>
	</div>

	<div>
	</div>

	<div>
	</div>

</div>

