/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 *= require autoSuggest

 * @author voe

 */

hr {
	margin: 0px;
	border-top: 1px solid #FF7519;
	border-bottom: 1px solid #FF7519;
}

.background {
	position: relative;
	padding-top: 52px;
	height: 100vh;
	background-color: #FFF;
}

.navbar-default .navbar-nav > li > a {
	font-size: 12pt;
	color: #FFF;
}

/* override the default color and padding from bootstrap */
.navbar-default {
    background-color: #FF7519;
    border-color: #EEE;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0px;
}

.modal {
	margin-top: 4%;
}

