// Place all the styles related to the classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @author: voe

$primary-color: #FF7519;
$secondary-color: #FFF;

.class-content {
	position: relative;
	min-height: 100%;
	border-left: 4px solid $primary-color;
}

.sub-tab-menu {
	position: relative;
	height: 50px;
	margin-left: 0px;
	background-color: $primary-color;
}

.class-label {
	position: relative;
	margin: 0px;
	padding: 0px;
	height: 50px;
}

.class-label h1 {
	position: absolute;
	margin: 0px;
	padding: 0px;
	bottom: 0px;
	font-weight: bold;
}

.sub-tab {
	position: relative;
	height: 30px;
	top: 10px;
	border-left: 1px solid $secondary-color;
	border-right: 1px solid $secondary-color;
	text-align: center;
}

.sub-tab:hover {
	height: 45px;
	top: 5px;
	padding-top: 5px;
	background-color: $secondary-color;
	border-top: 2px solid $secondary-color;
	border-left: 2px solid $secondary-color;
	border-right: 2px solid $secondary-color;
	border-radius: 8px 8px 0px 0px;
}

.sub-tab.active {
	height: 45px;
	top: 5px;
	padding-top: 5px;
	background-color: $secondary-color;
	border-top: 2px solid $secondary-color;
	border-left: 2px solid $secondary-color;
	border-right: 2px solid $secondary-color;
	border-radius: 8px 8px 0px 0px;
}

.sub-tab h4 {
	position: relative;
	color: #444;
	bottom: 6px;
}

.tab-content {
	position: relative;
	min-height: 100%;
}

.row.students-header {
	position: relative;
	height: 20px;
	margin: 12px;
}

.email-blast-button {
	float: right;
}

.student-table {
	margin: 12px;
}

.attendance-table {
	margin: 12px;
}

.modal-content {
	overflow: hidden;
}

.modal-content.static {
	height: 80vh;
}

.email-modal-dialog {
	margin-top: 0px;
	height: 86vh;
	width: 1000px;
}

.modal-content.email {
	height: 100%;
}

.email .modal-header {
	height: 12%;
}

.email .modal-body {
	height: 76%;
}

.email-contact-selector {
	height: 100%;
	overflow-y: auto;
}

.email-contact-table {
	border: solid 1px solid;	
}

.contact-row {
	height: 10px;
	margin: 4px;
}

.contact-row:hover {
	background-color: lightgrey;
	cursor: pointer;
}

.contact-row.selected {
	background-color: lightblue;
}

.email-content {
	margin-top: -15px;	
}

.email-content hr {
	border-top: 1px solid lightgrey;
	border-bottom: none;
}

#destinations {
	height: 40px;
	width: 93%;
	border: none;
	overflow-y: auto;
	overflow-x: auto;
}

#subject {
	height: 30px;
	width: 86%;
	border: none;
}

#content {
	height: 268px;
	width: 100%;
	border: solid 1px lightgrey;
}

.email-submit-button {
	position: relative;
}

.email .modal-footer {
	height: 12%;
}

