// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @author voe

$primary-color: #FF7519;
$secondary-color: #FFF;
$text-color: #444;



.classlist-item {
	position: relative;
	margin-top: -2px;
	margin-bottom: -2px;
	text-align: center;
}

.classlist-item:hover {
	background-color: $primary-color;
	border-radius: 10px 0px 0px 10px;
}

.classlist-item h3 {
	position: relative;
	bottom: 4px;
	color: $text-color;
}

.classlist-item.active {
	background-color: $primary-color;
	border-radius: 10px 0px 0px 10px;
}

.menu-left {
	position: relative;
	height: 100%;
}

.menu-center {
	position: relative;
	height: 100%;
}

.adminlist-item h3 {
	position: relative;
	bottom: 4px;
	color: $text-color;
}

.adminlist-item {
	position: relative;
	margin-top: -2px;
	margin-bottom: -2px;
	text-align: center;
}

.adminlist-item:hover {
	background-color: $primary-color;
	border-radius: 10px 0px 0px 10px;
}

.adminlist-item.active {
	background-color: $primary-color;
	border-radius: 10px 0px 0px 10px;
}

.profile-display {
	margin-top: 0px;
}

.user-image {
	margin-left: auto;
	margin-right: auto;
}






