<!-- @author: mchuang -->
<!-- partial for the side menu on the admin dashboard -->

<div class="col-sm-2 menu-left">
    <div class="profile-display">
        <div class="profile-panel">
            <a href="/users/show">
              <img class="thumbnail user-image" src="http://simpleicon.com/wp-content/uploads/user1-150x150.png">
              <h4><%= current_user.identifier %></h4>
            </a>
        </div>
    </div>

    <div class="adminlist">
        <%= link_to dashboard_admin_dashboard_path(infoType: "Classrooms"), id: "classrooms-tab" do %>
            <div class="row classlist-item">
                <h3>Classrooms</h3>
            </div>
        <% end %>
        <%= link_to dashboard_admin_dashboard_path(infoType: "Teachers"), id: "teachers-tab"  do %>
            <div class="row classlist-item">
                <h3>Teachers</h3>
            </div>
        <% end %>
        <%= link_to dashboard_admin_dashboard_path(infoType: "Students"), id: "students-tab"  do %>
            <div class="row classlist-item">
                <h3>Students</h3>
            </div>
        <% end %>
    </div>
</div>